body {
    height: 100dvh;
    width:100dvw;
    box-sizing: content-box;
    color:yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    background-image: url("images/Background.JPG");
    background-size: cover;
    background-attachment: fixed;
}

main {
  scrollbar-width: none;
}

h1{
  font-size: 4em;
}

h2{
  font-size: 3em;
}


/*------Fullpage scrolling*/

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll; 
}

.section {
  position: relative;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* -----Navbar--------*/

nav {
    display: flex;
    border-bottom: 2px white solid;     
    flex-direction: row;
    justify-content:left;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw;
    font-size: 2em;
    animation: nav-load var(--nav-load-time) ease-in;
    background-color: black;
    opacity: 0.8; 
    position: sticky;
    top: 0;
}

nav div{
  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  animation-fill-mode: forwards;
  padding: 8px; 
  margin: 5px;
  transform:scale(0);
  border: 1px white solid;
  border-radius: 7px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
nav div:hover{
  background-color: #ffffff12;
}
a {
    text-decoration: none;
    color: white;
}


@keyframes nav-link-load {
  0%{
    transform: scale(0);
  }

  80%{
    transform: scale(1.2);
  }

  100%{
    transform: scale(1);
  }
}

.image-wrapper {
  position: relative; /* Add position property to enable absolute positioning of text */
}

.image-wrapper img{
border-radius: 10px;
}

.image-text {
  position: absolute;
  top: -70px; /* Position the text at the top of the image */
  left: 0;
  right: 0;
  text-align: center; 
  color: #FFF23A; 
  font-size: 2em; 
}

/*----------Japan-----------*/

.button-left{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  z-index: 1;
  top: 38%;
  left: 20px;
  width: 4%;
  height: 8%;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  font-size: 50px;
}

.button-left:hover, .button-right:hover{
  opacity: 0.95;
}

.button-right{
  position: absolute;
  z-index: 1;
  top: 37%;
  left: 95%;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  font-size: 50px;
}

.image-list-japan{
  display: flex;
  list-style: none;
  margin: 8px;
  margin-left: 40px;
  margin-top: 20px;
  width: 85%;
}

.image-list-japan li {
  flex-shrink: 0;
  width: 30%; /* Set the width of visible images */
  margin: 8px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 85px;
}
.image-list-japan img {
  width: 100%;
  height: auto;
  user-select: none;
}
  /*-------Thailand------*/

.image {
    width: 33vmin;
    height: 42vmin;
    object-fit: cover;
    object-position: center;
}

#image-track{
    display: flex;
    gap: 16px;
    user-select: none;
    margin-top: 20px;
    margin-left: 3px;
  }

  /*---------China------------*/

.china-ul{
    display: flex;
    padding: 0;
    list-style: none;
}

.china-ul div{
  width: auto;
  position: relative;
}

.china-ul li:first-child{
  margin: 8px;
  margin-left: 16px;
  margin-top: 20px;
}

.china-ul li:nth-child(2){
  margin: 8px;
  margin-top: 20px;
}

.china-ul li:last-child{
  margin: 8px;
  margin-right: 16px;
  margin-top: 20px;
}

.china-img {
    width: 100%;
    height: auto;  
}

/*-------Vietnam--------*/

.location_title {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
}

.location_title_absolute {
  position: fixed;
  top: 5vh;
  left: calc(100%/3);   
}

.image-container {
  overflow: hidden;    
}

#imageList {
animation: slideImages 10s ease-in-out infinite alternate;
}

.image-list{
  display: flex;
  list-style: none;
  margin: 8px;
  margin-left: 16px;
  margin-top: 20px;
  width: 100%;
}

.image-list li {
  flex-shrink: 0;
  width: calc(100% / 3); /* Set the width of visible images */
  margin: 8px;
  margin-top: 20px;
}

.image-list img {
  width: 100%;
  height: auto;
  user-select: none;
}

@keyframes slideImages {
  0% {
    transform: translateX(-1.5%);
  }
  100% {
    transform: translateX(-73.5%);
  }
}

