body {
    height: 100dvh;
    width:100dvw;
    box-sizing: content-box;
/*     color:#FFF23A; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
   /*  background-image: url("images/Background.jpg");
    background-size: cover;
    background-attachment: fixed; */
}

/* -----Navbar--------*/

/* -----Navbar--------*/

nav {
  display: flex;
  border-bottom: 2px white solid;     
  flex-direction: row;
  justify-content:left;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
  height: 7vh;
  font-size: 2em;
  animation: nav-load var(--nav-load-time) ease-in;
  background-color: black;
  opacity: 0.8; 
}

nav div{
animation-name: nav-link-load;
animation-duration: var(--nav-link-load-time);
animation-timing-function: ease-in;
animation-delay: var(--nav-load-time);
animation-fill-mode: forwards;
padding: 8px; 
margin: 5px;
transform:scale(0);
border: 1px white solid;
border-radius: 7px;  
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
nav div:hover{
background-color: #ffffff12;
}
a {
  text-decoration: none;
  color: white;
}
@keyframes nav-load {
0%{
  transform:translateY(-100%) ;
}
100%{
  transform: translateY(0);
}
}

@keyframes nav-link-load {
0%{
  transform: scale(0);
}

80%{
  transform: scale(1.2);
}

100%{
  transform: scale(1);
}
}


/* ----------*/

.grid_container{
  border: 2px black solid;
  display: grid;
  grid-template-columns: auto;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  gap: 20px;
}



.grid_inner_container{
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.grid_inner_item{
  list-style: none;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: auto;
  margin: 20px;
  padding: 0;
}